<h2 mat-dialog-title>{{track ? 'Edit track' : 'Create new track'}}</h2>
<mat-dialog-content>
    <form [formGroup]="form">
        <h5 class="array-fields-title header">
            General
        </h5>
        <div class="first-row-fields">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Url</mat-label>
                <input matInput placeholder="Url" formControlName="url">
            </mat-form-field>
        </div>
        <h5 class="array-fields-title header">
            Artists
        </h5>
        <div class="field-with-ai">
            <div class="cover-preview">
                @if (coverValue) {
                    <img src="{{coverValue}}" alt="Cover" class="">
                } @else {
                    <div class="cover-placeholder">Cover</div>
                }
            </div>
            <button mat-fab (click)="generateCover()" [disabled]="generateDisabled" matTooltip="Generate track cover. Title and at least one genre are required.">
                <mat-icon>smart_toy</mat-icon>
            </button>
        </div>

        <!-- <h5 class="array-fields-title">
            Artists
        </h5>
        <div class="array-fields" formArrayName="artists">
            @for (artist of artistArray.controls; track artist) {
                <div class="array-fields__row">
                    <mat-form-field>
                        <input matInput placeholder="Artist" formControlName="{{$index}}">
                    </mat-form-field>
                    <button mat-fab aria-label="Remove" (click)="deleteArtist($index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            }
            <button mat-fab aria-label="Add" (click)="addArtist()">
                <mat-icon>add</mat-icon>
            </button>
        </div> -->
        <h5 class="array-fields-title header">
            Genres
        </h5>
        <div class="array-fields" formArrayName="genres">
            @for (genre of genreArray.controls; track genre) {
                <div class="array-fields__row">
                    <mat-form-field>
                        <input matInput placeholder="Genre" formControlName="{{$index}}">
                    </mat-form-field>
                    <button mat-fab aria-label="Remove" (click)="deleteGenre($index)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            }
            <button mat-fab aria-label="Add" (click)="addGenre()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="field-with-ai">
            <mat-form-field>
                <mat-label>Promo</mat-label>
                <textarea matInput placeholder="Promo" formControlName="promo"></textarea>
            </mat-form-field>
            <button mat-fab (click)="generatePromo()" [disabled]="generateDisabled" matTooltip="Generate Promo. Title and at least one genre are required.">
                <mat-icon>smart_toy</mat-icon>
            </button>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button cdkFocusInitial (click)="onSubmit()" [disabled]="form.invalid">{{track ? 'Save' : 'Create'}}</button>
</mat-dialog-actions>
