.main-container {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
}

h1 {
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    display: grid;
    grid-template-columns: 220px 1fr 220px;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 200px 1fr;
}

aside {
    background-color: #f4f4f4;
    padding: 10px;
}

section {
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    ul {
        display: flex;
        gap: 10px;
        
        margin: 0;
        padding: 0;

        list-style: none;
    }
}

.left-menu {
    list-style: none;
    padding: 0;
}

.left-menu-item {
}