<header>
  <h1>{{siteSettingsStore.heading()}}</h1>
</header>
<main>
  <aside>
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/albums" routerLinkActive="active">Albums</a></li>
        <li><a routerLink="/tracks" routerLinkActive="active">Tracks</a></li>
      </ul>
    </nav>
  </aside>
  <section>
    <router-outlet></router-outlet>
  </section>
</main>
<footer>
  <p [innerHTML]="siteSettingsStore.footerHtmlSafe()"></p>
</footer>